[submodule "source/lib/dynamical_systems/lib/googletest"]
	path = source/lib/dynamical_systems/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "source/lib/protocol_buffers/lib/googletest"]
	path = source/lib/protocol_buffers/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "source/lib/state_representation/cpp/lib/googletest"]
	path = source/lib/state_representation/cpp/lib/googletest
	url = https://github.com/google/googletest.git
